include ./partials/nav
doctype html
html
  head
    title Read it!
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css" href="/css/main.css")
  body
    if session.passport
      h1 Your Read it List
      //- -console.log(bookArr)
      each book in bookArr
        i(id=`${book.id}` class="up_vote fa fa-arrow-up" aria-hidden="true")
        br
        i(id=`${book.id}` class="down_vote fa fa-arrow-down" aria-hidden="true")
        //- error handling for when a component isn't available
        p Title: #{book.volumeInfo.title}
        if book.volumeInfo.subtitle
          p Subtitle: #{book.volumeInfo.subtitle}
        else
          
        if book.volumeInfo.authors
          p Author: #{book.volumeInfo.authors}
        else

        if book.volumeInfo.publisher
          p Publisher: #{book.volumeInfo.publisher}
        else

        if book.volumeInfo.publishedDate
          p Published Date: #{book.volumeInfo.publishedDate}
        else

        if book.volumeInfo.categories
          p Genre: #{book.volumeInfo.categories}
        else

        if book.volumeInfo.maturityRating
          if book.volumeInfo.maturityRating === "NOT_MATURE"
            p Maturity Rating: Suitable for all ages
          else

        else

        if book.volumeInfo.description
          p Summary: #{book.volumeInfo.description}
        else

        if book.volumeInfo.pageCount
          p Length: #{book.volumeInfo.pageCount} pages
        else        

        p Review:
        textarea(id=`review-text${book.id}` name="review", cols="30", rows="10")
        br
        br
        button(class='remove-button') Remove from Read it List
        button(id=`${book.id}` class='submit-review') Submit Review
        button(class='show-reviews') Show Reviews
        each review in bookData
          if book.id == review.api_id
            p(id="hidden") Your Previous Reviews: #{review.User_Books.review}
        br
        br
    script
      include ../node_modules/jquery/dist/jquery.js
      include ../public/main.js