include ./partials/nav
doctype html
html
  head
    title Read it!
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet", type="text/css" href="/css/main.css")
  body
    if session.passport
      div(class="container justify-content-center header")
        h1(class="header card-alignment readit-header") #{session.passport.user.username}'s Read it List

      //- -console.log(bookArr)
      each book in bookArr
        div(class="card")
          h3(class="card-alignment header") #{book.volumeInfo.title}
          if book.volumeInfo.subtitle
            h6(class="card-alignment") Subtitle: #{book.volumeInfo.subtitle}
          else

          i(id=`${book.id}` class="up_vote fa fa-arrow-up" aria-hidden="true")
          br
          i(id=`${book.id}` class="down_vote fa fa-arrow-down" aria-hidden="true")
          //- error handling for when a component isn't available
          if book.volumeInfo.authors
            p(class="card-alignment") Author: #{book.volumeInfo.authors}
          else

          if book.volumeInfo.publisher
            p(class="card-alignment") Publisher: #{book.volumeInfo.publisher}
          else

          if book.volumeInfo.publishedDate
            p(class="card-alignment") Published Date: #{book.volumeInfo.publishedDate}
          else

          if book.volumeInfo.categories
            p(class="card-alignment") Genre: #{book.volumeInfo.categories}
          else

          if book.volumeInfo.maturityRating
            if book.volumeInfo.maturityRating === "NOT_MATURE"
              p(class="card-alignment") Maturity Rating: Suitable for all ages
            else

          else

          if book.volumeInfo.description
            p(class="card-alignment") Summary: #{book.volumeInfo.description}
          else

          if book.volumeInfo.pageCount
            p(class="card-alignment") Length: #{book.volumeInfo.pageCount} pages
          else        

          p(class="card-alignment") Review:
          textarea(id=`review-text${book.id}` class="text-box" name="review", cols="30", rows="10")
          br
          br
          button(class='remove-button') Remove from Read it List
          button(id=`${book.id}` class='submit-review') Submit Review
          button(class='show-reviews') Show Review
          each review in bookData
            if book.id == review.api_id
              p(id=`hidden${book.id}` class="hide card-alignment") Your Review: #{review.User_Books.review}
          br
          br
    script
      include ../node_modules/jquery/dist/jquery.js
      include ../public/main.js